<body class="page">

{%include site-header.html %}

        <div id="main" class="site-main">
          <div id="main-content" class="single-page-content">
            <div id="primary" class="content-area">    
              <div id="content" class="page-content site-content single-post" role="main">
                <!-- Home Page Top Part -->
                <div class="row">
                  <div class=" col-xs-12 col-sm-12">
                    <div class="home-content">
                      <div class="row flex-v-align">
                        
                        <div class="col-sm-12 col-md-5 col-lg-5">
                          <div class="home-photo">
                            <div class="hp-inner" style="background-image: url(/img/main_photo.jpg);">
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-12 col-md-7 col-lg-7">
                          <div class="home-text hp-left">
                            <div class="owl-carousel text-rotation">                                    
                              <div class="item">
                                <h4>Technologist</h4>
                              </div>

                              <div class="item">
                                <h4>Problem Solver</h4>
                              </div>

                              <div class="item">
                                <h4>Educator</h4>
                              </div>

                          </div>
                            <h1>About me</h1>
                            <p>I’ve spent much of my career building and operating complex systems. The truth is that people and how they work with technology is much, much more important than the technology itself. I'm currently a solutions engineer and in that role I help customers understand and use complex products to their benefit.</p>

                            <div class="home-buttons">
                              <a href="/blog.html" class="btn btn-primary">Blog</a>
                              <a href="/contact.html" target="_self" class="btn btn-secondary">Contact</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Home Page Top Part -->

                <!-- Services -->
                <div class="row">
                  <div class="col-xs-12 col-sm-12">
                    <div class="p-50"></div>

                    <div class="block-title">
                      <h2>What I do</h2>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <div class="info-list-w-icon">
                      <div class="info-block-w-icon">
                        <div class="ci-icon">
                          <i class="linecons linecons-params"></i>
                        </div>
      
                        <div class="ci-text">
                          <h4>Understand technology</h4>
                          <p>Technology is extremely complex. It takes experience, training, and, most importantly curiosity, to work most technologies. Especially now, with less focus on singular, monolithic systems, eg. mainframes, and more focus on what are effectively distributed system models (such as microservices). </p>
                        </div>
                      </div>
    
                      <div class="info-block-w-icon">
                        <div class="ci-icon">
                          <i class="linecons linecons-heart"></i>
                        </div>
     
                        <div class="ci-text">
                          <h4>Combine people &amp; technology</h4>
                          <p>People use technology: the combination is socio-technical. On its own, technology is relatively useless. Humans must operate technology to make it useful, and we so often forget that. My approach to technology is to ensure that we continually reinforce the fact that technology is created to benefit people, not the other way around.</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-6">
                    <div class="info-list-w-icon">

                      <div class="info-block-w-icon">
                        <div class="ci-icon">
                          <i class="linecons linecons-study"></i>
                        </div>

                        <div class="ci-text">
                          <h4>Educate</h4>
                          <p>One of the things I like to do the most is to help people learn about technology and how to use it. I’ve spent a lot of time building presentations and workshops to help teach people about technology. Understanding technology is important, but communicating and transferring that understanding is equally if not more important.</p>
                        </div>
                      </div>

                      <div class="info-block-w-icon">
                        <div class="ci-icon">
                          <i class="linecons linecons-lab"></i>
                        </div>

                        <div class="ci-text">
                          <h4>Get new things to work</h4>
                          <p>I love to find new technology&#8212;technology that often doesn’t work or isn’t really ready for production&#8212;and get it to work. Different people like to work with technology at different times in the maturity spectrum, and I am fairly far on the left of that spectrum: if it exists and is hard to use, that’s where I do my best work.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- 2 blog posts -->
                <div class="row">
                  <div class="col-xs-12 col-sm-12">
                    <div class="p-50"></div>

                    <div class="block-title">
                      <h2>Recent Blog Posts</h2>
                    </div>
                  </div>
                </div>
                <div id="content" class="page-content site-content single-post" role="main">
  
                  <div class="row">
                    <div class=" col-xs-12 col-sm-12 ">
  
                      <div class="blog-masonry two-columns clearfix">
                        <!-- blog posts -->
                        
                        {% for post in site.posts limit:2 %}
                        <div class="item">
                          <div class="blog-card">
                            <div class="media-block">
                              <div class="category">
                                <a href="{{ post.url }}" title="{{ post.title }}">{{ post.categories[0] }}</a>
                              </div>
                              <a href="{{ post.url }}">
                                {% if post.header_image %}
                                <img src="/img/blog-headers/{{ post.header_image }}" alt="{{ post.title }}" title="" />
                                {% else %}
                                <img src="./img/blog/blog_post_6.jpg" alt="{{ post.title }}" title="" />
                                {% endif %}
                                <div class="mask"></div>
                              </a>
                            </div>
                            <div class="post-info">
                              <div class="post-date">{{ post.date | date: '%B %d, %Y' }}</div>
                              <a href="{{ post.url }}">
                                <h4 class="blog-item-title">{{ post.title }}</h4>
                              </a>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                      </div>

                      <!-- end posts -->
                      <!--
                      <a class="btn btn-primary" href="#">See All Posts</a>
                      -->
                    </div>
                  </div>
  
                </div>

              </div>
            </div>
          </div>
        </div>
